footer {
    max-width: 100%;
    background-color: rgba(122, 122, 122, 18);

    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    padding: 30px auto;
}

footer h1 {
    padding: 20px 0px;
    position: relative;
    left: 25px;
}

footer img {
    width: 100%;
}

footer>div {
    padding: 20px;
}

footer>div>div {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}

footer>div>p {
    text-align: center;
}